# Build artifacts
/target/
/crates/lumina-wasm/pkg/

# Editor files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Temporary
/tmp/

# Python
__pycache__/
*.pyc
venv/
.env

# Javascript
node_modules/
dist/
.npm
package-lock.json

# Firebase tools
.firebase/
firebase-debug.log
.firebaserc

# Platform Binaries
*.vsix
*.deb
*.exe
*.msi
*.tar.gz
*.zip

# Built Binaries
bin/

